<% content_for(:title) { '社員一覧' } %>

<% content_for(:breadcrumb) do %>
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item">社員関連</li>
    <li class="breadcrumb-item active">社員一覧</li>
  </ol>
<% end %>

<nav class="navbar navbar-expand navbar-light">
  <!-- SEARCH FORM -->
  <%= form_with model: nil, url: users_path, method: :get, local: true do |f| %>
    <div class="input-group input-group-sm">
      <%= f.text_field :search, value: params[:search], placeholder: '氏名・カナ・番号', class: 'form-control form-control-navbar mr-1 ascii' %>
      <%= f.select :prefecture, options_for_select(prefecture_options, params[:prefecture]),
                   {prompt: '--都道府県--'}, class: 'form-control form-control-navbar mr-1 ascii' %>
      <div class="form-check mr-1 pt-1">
        <%= check_box_tag :retired, true, params[:retired] == 'true', class: 'form-check-input' %>
        <label class="form-check-label" for="retired"><small>退職者を表示</small></label>
      </div>
      <div class="form-check mr-1 pt-1">
        <%= check_box_tag :shop, true, params[:shop] == 'true', class: 'form-check-input' %>
        <label class="form-check-label" for="shop"><small>店舗を表示</small></label>
      </div>
      <%= f.submit view_i18n('search'), class: 'btn btn-outline-secondary btn-sm mr-3' %>
      <%= link_to view_i18n('new'), new_user_path, class: 'btn btn-outline-primary btn-sm' %>
    </div>
  <% end %>

  <!-- sub Menu -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown mt-4">
      <%= @users.total_count %> Hit &nbsp;
    </li>
    <li class="nav-item dropdown mt-3">
      <%= paginate @users %>
    </li>
  </ul>
</nav>

<table class="table table-sm">
  <thead>
    <tr>
      <th><%= attr_i18n('user', 'code') %></th>
      <th><%= attr_i18n('user', 'name') %></th>
      <th><%= attr_i18n('user', 'kana') %></th>
      <th><%= attr_i18n('user', 'sex') %></th>
      <th><%= attr_i18n('user', 'entered_on') %></th>
      <th><%= attr_i18n('user', 'retired_on') %></th>
      <th><%= attr_i18n('user', 'prefecture') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.code %></td>
      <td><%= user.name %></td>
      <td><%= user.kana %></td>
      <td><%= user.sex_i18n %></td>
      <td><%= user.entered_on %></td>
      <td><%= user.retired_on %></td>
      <td><%= prefecture_i18n(user.prefecture) %></td>
      <td>
        <%= link_to view_i18n('show'), user, class: 'btn btn-default btn-xs' %>
        <%= link_to view_i18n('edit'), edit_user_path(user), class: 'btn btn-primary btn-xs' %>
        <%= link_to view_i18n('delete'), user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
