<%= form_with(model: dest, local: true) do |form| %>
  <% if dest.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% dest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">基本情報</h3>
        </div>
        <div class="card-body px-1 py-2">
          <table class="table">
            <colgroup>
              <col width="30%">
              <col width="70%">
            </colgroup>
            <tbody>
            <tr>
              <th class="px-2 py-1"><%= form.label :company_id, class: 'font-weight-normal text-sm' %></th>
              <td class="px-2 py-1">
                <%= form.select :company_id, options_from_collection_for_select(Company.active, :id, :name_with_code, dest.company_id),
                                {include_blank: false}, class: 'form-control form-control-sm' %>
              </td>
            </tr>
              <tr>
                <th class="px-2 py-1"><%= form.label :code, class: 'font-weight-normal text-sm' %></th>
                <td class="px-2 py-1"><%= form.text_field :code, class: 'form-control form-control-sm' %></td>
              </tr>
              <tr>
                <th class="px-2 py-1"><%= form.label :name, class: 'font-weight-normal text-sm' %></th>
                <td class="px-2 py-1">
                  <%= form.text_field :name, class: 'form-control form-control-sm' %>
                </td>
              </tr>
              <tr>
                <th class="px-2 py-1"><%= form.label :kana, class: 'font-weight-normal text-sm' %></th>
                <td class="px-2 py-1"><%= form.text_field :kana, class: 'form-control form-control-sm' %></td>
              </tr>
              <tr>
                <th class="px-2 py-1"><%= form.label :dest_type, class: 'font-weight-normal text-sm' %></th>
                <td class="px-2 py-1">
                  <%= form.select :dest_type, Dest.dest_types_i18n.invert, {}, class: 'form-control form-control-sm' %>
                  <%= form.check_box :provisional %>
                  <label class="form-check-label" for="group_provisional"><small>仮店舗</small></label>
                </td>
              </tr>
              <tr>
                <th class="px-2 py-1"><%= form.label :prefecture, class: 'font-weight-normal text-sm' %></th>
                <td class="px-2 py-1">
                  <%= form.select :prefecture, prefecture_options, {include_blank: true}, class: 'form-control form-control-sm' %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">基本情報2</h3>
        </div>
        <div class="card-body px-1 py-2">
          <table class="table">
            <colgroup>
              <col width="30%">
              <col width="70%">
            </colgroup>
            <tbody>
              <tr>
                <th class="px-2 py-1"><%= form.label :shift_number1, class: 'font-weight-normal text-sm' %></th>
                <td class="px-2 py-1"><%= form.text_field :shift_number1, class: 'form-control form-control-sm' %></td>
              </tr>
              <tr>
                <th class="px-2 py-1"><%= form.label :shift_number2, class: 'font-weight-normal text-sm' %></th>
                <td class="px-2 py-1"><%= form.text_field :shift_number2, class: 'form-control form-control-sm' %></td>
              </tr>
              <tr>
                <th class="px-2 py-1">
                  <%= form.label (attr_i18n('dest', 'opened_on') + '/' + attr_i18n('dest', 'closed_on')),
                                  class: 'font-weight-normal text-sm' %>
                </th>
                <td class="px-2 py-1">
                  <%= form.date_field :opened_on, class: 'form-control form-control-sm' %>
                  <%= form.date_field :closed_on, class: 'form-control form-control-sm' %>
                </td>
              </tr>
              <tr>
                <th class="px-2 py-1">
                  <%= form.label (attr_i18n('dest', 'started_on') + '/' + attr_i18n('dest', 'finished_on')),
                                 class: 'font-weight-normal text-sm' %>
                </th>
                <td class="px-2 py-1">
                  <%= form.date_field :started_on, class: 'form-control form-control-sm' %>
                  <%= form.date_field :finished_on, class: 'form-control form-control-sm' %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">基本情報3</h3>
        </div>
        <div class="card-body px-1 py-2">
          <table class="table">
            <colgroup>
              <col width="30%">
              <col width="70%">
            </colgroup>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">追加情報</h3>
        </div>
        <div class="card-body px-1 py-2">
          <table class="table">
            <colgroup>
              <col width="30%">
              <col width="70%">
            </colgroup>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <%= form.submit class: 'btn btn-primary my-2' %>
<% end %>
